    .h1 {
    text-align: center;
    background: -webkit-linear-gradient(rgb(255,255,255),rgb(255,0,255),rgb(20,200,200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    font-stretch: width(50px);
    border: hidden;
    }
    .topnav {
     background-color: black;
     overflow: hidden;
     height: 45px;
    }
    .topnav a {
     text-align: center;
     color:aliceblue;
     float:left;
     font-size: medium;
     text-align: center;
     padding: 10px;
    }
    .topnav a:hover {
    color: rgba(177, 204, 227, 0.977);
    font-size: larger;
    background-color: black;
    -webkit-animation: normal;
    -webkit-animation-duration: 1s;
    }
    
    .para {
        background: -webkit-linear-gradient(rgb(255, 255, 255)) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgb(255, 255, 255);
        font-size: x-large;
        font-weight: 1000;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 30%;
        padding-right: 15%;
        padding-bottom: 30%;
        padding-top: auto;
        text-align: center;
        float:right;
    }

    .para p {
        margin-bottom: -6.5%;
        background-color: rgb(32, 29, 29);
        border-radius: 3px;
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(134, 51, 36);
    }
    #html {
        background-image: url("\Screenshots\Screenshot (414).png");
    }