.h1 {
    text-align: center;
    background: -webkit-linear-gradient(rgb(255,255,255),rgb(255,0,255),rgb(20,200,200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    font-stretch: width(50px);
    border: hidden;
}